@model HtmlBodyPartViewModel

<style asp-name="grapesjs" asp-src="~/OrchardCoreContrib.Html/Styles/grapes.min.css" debug-src="~/OrchardCoreContrib.Html/Styles/grapes.min.css"></style>
<script asp-name="grapesjs" asp-src="~/OrchardCoreContrib.Html/Scripts/grapes.min.js" debug-src="~/OrchardCoreContrib.Html/Scripts/grapes.min.js" at="Foot"></script>

<div class="form-group">
    <label asp-for="Html">@Model.TypePartDefinition.DisplayName()</label>
    <input asp-for="Html" type="hidden" class="form-control" />

    <div id="@Html.IdFor(m => m.Html)-editor">
        @Html.Raw(@Model.Html)
    </div>
    
    <span class="hint">@T["The body of the content item."]</span>
</div>

<script at="Foot">
    $(function () {
        var editor = grapesjs.init({
            container: '#@Html.IdFor(m => m.Html)-editor',
            components: '<h1>GrapesJS Editor!</h1>', // Remove this once the components are loaded in the blocks section
            storageManager: false
        });

        editor.on('change', () => {
            var body = editor.getHtml();
            $('#@Html.IdFor(m => m.Html)').val(body);
        });
    });
</script>
