@using OrchardCore.Email
@using OrchardCoreContrib.Email.Yahoo
@model YahooSettings

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<div class="form-group" asp-validation-class-for="DefaultSender">
    <label asp-for="DefaultSender">@T["Sender email address"]</label>
    <input asp-for="DefaultSender" class="form-control" type="text" />
    <span asp-validation-for="DefaultSender"></span>
    <span class="hint">@T["The default email address to use as a sender, unless the email sender is set."]</span>
</div>

<input asp-for="RequireCredentials" type="hidden" value="@(true)" />

<div class="form-group" asp-validation-class-for="UserName">
    <label asp-for="UserName">@T["User name"]</label>
    <input asp-for="UserName" class="form-control" type="text" />
    <span asp-validation-for="UserName"></span>
    <span class="hint">@T["The username for authentication."]</span>
</div>

<div class="form-group" asp-validation-class-for="Password">
    <label asp-for="Password">@T["Password"]</label>
    <input asp-for="Password" class="form-control" type="password" />
    <span asp-validation-for="Password"></span>
    <span class="hint">@T["The password for authentication."]</span>
</div>
