@inject DarkModeService DarkModeService;
@{
    var darkMode = await DarkModeService.IsDarkModeAsync();
}
<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()" data-theme="@DarkModeService.CurrentTheme">
<head>
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link type="image/x-icon" rel="shortcut icon" href="~/TheAdmin/favicon.ico" />

    <!-- Bootstrap CSS -->
    <style asp-name="admin" version="1"></style>
    <style at="Head">
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .oc-bg-primary {
            background-color: #41B670!important;
        }

        .oc-btn-primary {
            background-color: #41B670 !important;
            border-color: #35935B !important;
            color: #fff !important;
        }

            .oc-btn-primary:hover {
                background-color: #35935B !important;
            }
    </style>

    <script asp-name="font-awesome" at="Foot" version="6"></script>
    <script asp-name="font-awesome-v4-shims" at="Foot" version="6"></script>

    <resources type="Header" />
</head>
<body class="mb-0">
    <section>
        <div class="container-fluid px-0 py-0">
            <div class="row mx-0 my-0">
                <div class="col-4 min-vh-100 d-flex align-items-center justify-content-center text-white oc-bg-primary">
                    <div class="text-center">
                        <img src="@Url.Content("~/OrchardCoreContrib.Themes.Admin/logo-white.png")" width="65" />
                        <h2 class="mt-2 mb-4 display-6">Orchard Core CMS</h2>
                    </div>
                </div>
                <div class="col-8 min-vh-100 d-flex align-items-center justify-content-center">
                    @await RenderBodyAsync()
                </div>
            </div>
        </div>
    </section>

    <resources type="Footer" />
</body>
</html>
