@using OrchardCore.Environment.Shell
@using OrchardCore.Themes.Services

@inject ThemeTogglerService ThemeTogglerService

<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()" data-bs-theme="@await ThemeTogglerService.CurrentTheme()" data-tenant="@ThemeTogglerService.CurrentTenant">
<head>
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link type="image/x-icon" rel="shortcut icon" href="~/TheAdmin/favicon.ico" />

    <!-- This script can't wait till the footer -->
    <script asp-name="admin-head" version="1" at="Head"></script>

    <!-- Bootstrap CSS -->
    <style asp-name="admin" version="1" at="Head"></style>
    <style at="Head">
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .oc-bg-primary {
            background-color: #41B670 !important;
        }

        .oc-btn-primary {
            background-color: #41B670 !important;
            border-color: #35935B !important;
            color: #fff !important;
        }

            .oc-btn-primary:hover {
                background-color: #35935B !important;
            }
    </style>
    @if (Orchard.IsRightToLeft())
    {
        <style asp-name="bootstrap-rtl" version="5" at="Head"></style>
        <style asp-name="TheAdminLogin" depends-on="bootstrap-rtl" asp-src="~/TheAdmin/css/login.min.css" debug-src="~/TheAdmin/css/login.css" at="Foot"></style>
    }
    else
    {
        <style asp-name="bootstrap" version="5" at="Head"></style>
        <style asp-name="TheAdminLogin" depends-on="bootstrap" asp-src="~/TheAdmin/css/login.min.css" debug-src="~/TheAdmin/css/login.css" at="Foot"></style>
    }

    <script asp-name="font-awesome" at="Foot" version="6"></script>

    <resources type="Header" />
    @await RenderSectionAsync("HeadMeta", required: false)
</head>
<body class="mb-0">
    <section>
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="container-fluid px-0">
                @await RenderSectionAsync("Header", required: false)
                @await RenderSectionAsync("Messages", required: false)

                <div class="row mx-0 my-0">
                    <div class="col-4 min-vh-100 d-flex align-items-center justify-content-center text-white oc-bg-primary">
                        <div class="text-center">
                            <img src="@Url.Content("~/OrchardCoreContrib.Themes.Admin/logo-white.png")" width="65" />
                            <h2 class="mt-2 mb-4 display-6">Orchard Core CMS</h2>
                        </div>
                    </div>
                    <div class="col-8 min-vh-100 d-flex align-items-center justify-content-center">
                        @await RenderBodyAsync()
                    </div>
                </div>
            </div>
        </div>
    </section>
    @await RenderSectionAsync("Footer", required: false)

    <resources type="Footer" />
</body>
</html>
