@using NuGet.Versioning;
@using OrchardCore.Environment.Shell;
@using OrchardCoreContrib.System
@using OrchardCoreContrib.System.ViewModels;
@using System.Reflection;
@model UpdatesViewModel
@{
    var hasUpdates = Model.Updates.Any();
}
@functions
{
    public static IEnumerable<AssemblyName> OrchardCoreAssemblies => Assembly.GetEntryAssembly()
        .GetReferencedAssemblies()
        .Where(a => a.Name.StartsWith("OrchardCore") && !a.Name.StartsWith("OrchardCoreContrib"));
}
<zone Name="Title"><h1>@RenderTitleSegments(T["System Updates"])</h1></zone>

@if (hasUpdates)
{
    <table class="table table-striped table-hover mt-4">
        @foreach (var update in Model.Updates)
        {
            <tr>
                <th>@update</th>
                <td class="w-75">
                    @foreach (var assembly in OrchardCoreAssemblies)
                    {
                        var packageUrl = String.Join("/", Constants.SystemUpdates.NuGetPackageUrl, assembly.Name, update);
                        <a class="d-block" href="@packageUrl">@assembly.Name</a>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="alert alert-info">
        <p>@T["You're all up to date!"]</p>
    </div>
}
