@model UserGroupsListPartEditViewModel

<h6>@T["User Groups"]</h6>
<div class="mb-3">
    @foreach (var userGroup in Model.UserGroups)
    {
        var selected = Model.SelectedUserGroups.Contains(userGroup.Name);
        <div class="col-md-3">
            <div class="custom-control custom-checkbox">
                <input id="@userGroup.Name" name="@Html.NameFor(m => m.SelectedUserGroups)" type="checkbox" class="custom-control-input" value="@userGroup.Name" checked="@(selected ? "checked" : null)">
                <label for="@userGroup.Name" class="custom-control-label">@userGroup.Name</label>
            </div>
        </div>
    }
</div>
