@using Microsoft.AspNetCore.Authorization
@using OrchardCoreContrib.Contents
@using OrchardCoreContrib.Contents.ViewModels
@model SharedDraftLinkViewModel
@inject IAuthorizationService AuthorizationService

<div class="btn-group mb-1">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#shareDraftModal">
        @T["Share Draft"]
    </button>
</div>
<div class="btn-group mb-1">
    @if (await AuthorizationService.AuthorizeAsync(User, ContentsPermissions.RevokeDraftContent))
    {
        <button name="submit.Save" type="submit" class="btn btn-danger" value="Revoke">
            @T["Revoke Link"]
        </button>
    }
</div>

<div class="modal fade" id="shareDraftModal" tabindex="-1" aria-labelledby="shareDraftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareDraftModalLabel">@T["Share Draft Link"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="linkInput" type="text" class="form-control" readonly value="@Model.GeneratedLink" />
                <button id="copyButton" type="button" class="btn btn-outline-secondary mt-2" onclick="copyUrl()">
                    Copy to Clipboard
                </button>
                <p class="text-muted mt-2">
                    Expires in <span id="expiryCountdown"></span>
                </p>
            </div>
        </div>
    </div>
</div>

<script at="Foot">
    const copyButton = document.getElementById('copyButton');
    const expireyCountdown = document.getElementById("expiryCountdown");

    const expiryDate = new Date("@Model.Link.ExpirationUtc.ToString("o")");
    const now = new Date();
    const diff = expiryDate - now;

    if (diff <= 0) {
        expireyCountdown.parentElement.setAttribute('class', 'text-danger mt-2')
        expireyCountdown.parentElement.innerText = "Expired";
        copyButton.disabled = true;
    }
    else {
        const days = Math.floor(diff / (1000*60*60*24));

        expireyCountdown.innerText = `${days} days`;
    }

    function copyUrl() {
        const link = document.getElementById('linkInput').value;
        navigator.clipboard.writeText(link);

        copyButton.setAttribute('class', 'btn btn-secondary mt-2');
        copyButton.innerText = 'Copied!';
    }
</script>
