@using OrchardCore.Email
@using OrchardCoreContrib.Email.Gmail
@model GmailSettings

<p class="alert alert-warning">@T["The current tenant will be reloaded when the settings are saved."]</p>

<div class="form-group" asp-validation-class-for="DefaultSender">
    <label asp-for="DefaultSender">@T["Sender email address"]</label>
    <input asp-for="DefaultSender" class="form-control" type="text" />
    <span asp-validation-for="DefaultSender"></span>
    <span class="hint">@T["The default email address to use as a sender, unless the email sender is set."]</span>
</div>

<input asp-for="RequireCredentials" type="hidden" value="@(true)" />

<div class="form-group" asp-validation-class-for="UserName">
    <label asp-for="UserName">@T["User name"]</label>
    <input asp-for="UserName" class="form-control" type="text" />
    <span asp-validation-for="UserName"></span>
    <span class="hint">@T["The username for authentication."]</span>
</div>

<div class="form-group" asp-validation-class-for="Password">
    <label asp-for="Password">@T["Password"]</label>
    <input asp-for="Password" class="form-control" type="password" />
    <span asp-validation-for="Password"></span>
    <span class="hint">@T["The password for authentication."]</span>
</div>

<div class="form-group" asp-validation-class-for="EncryptionMethod">
    <label asp-for="EncryptionMethod">@T["Encryption method to use"]</label>
    <select asp-for="EncryptionMethod" class="form-control" disabled="@Model.AutoSelectEncryption">
        <option value="@SmtpEncryptionMethod.None" selected="@(SmtpEncryptionMethod.None == Model.EncryptionMethod ? true : false)">
            @T["None"] - @T["Connect to server using insecure connection."]
        </option>
        <option value="@SmtpEncryptionMethod.SSLTLS" selected="@(SmtpEncryptionMethod.SSLTLS == Model.EncryptionMethod ? true : false)">
            @T["SSL/TLS"] - @T["Connect to server using SSL/TSL secure connection"]
        </option>
        <option value="@SmtpEncryptionMethod.STARTTLS" selected="@(SmtpEncryptionMethod.STARTTLS == Model.EncryptionMethod ? true : false)">
            @T["STARTTLS"] - @T["Connect to server using insecure connection and upgrade to secure using SSL/TLS"]
        </option>
    </select>
    <span asp-validation-for="EncryptionMethod"></span>
    <span class="hint">@T["The encryption method used when connecting to mail server."]</span>
</div>

<div class="form-group" asp-validation-class-for="AutoSelectEncryption">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" asp-for="AutoSelectEncryption">
        <span asp-validation-for="AutoSelectEncryption"></span>
        <label class="custom-control-label" asp-for="AutoSelectEncryption">@T["Auto Select Encryption method"]</label>
        <span class="hint">— @T["Check to let the system select the encryption method based on port."]</span>
    </div>
</div>